/browserstack/app-automate/*
/requests-debugger
/browserstack/automate/web_extension.crx
/browserstack/automate/uploadFileUsingLocalFileDetector.js
/browserstack/automate/uploadFile.js
/browserstack/automate/untickCheckBox.js
/browserstack/automate/toggleRadioBtn.js
/browserstack/automate/switchTabiOS.js
/browserstack/automate/selectValueFromDropdown.js
/browserstack/automate/scroll.js
/browserstack/automate/proxyTest.js
/browserstack/automate/preloadedFIles.js
/browserstack/automate/playAudio.js
/browserstack/automate/multipleTabs.js
/browserstack/automate/logs.js
/browserstack/automate/loginCiCd.js
/browserstack/automate/login.js
/browserstack/automate/local-test.js
/browserstack/automate/handleIframe.js
/browserstack/automate/firefoxProfile.js
/browserstack/automate/enterCredentials.js
/browserstack/automate/deleteInputText.js
/browserstack/automate/contextClick.js
/browserstack/automate/browserExtension.js
/browserstack/test.txt
/browserstack/selenium-java-4.0.0.zip
/browserstack/local.log
/browserstack/log
/grid
/driver
/cypress
/protractor